/* Common */
.common-paragraph{
    color:rgb(121, 121, 121);
    font-family: Arial, Helvetica, sans-serif;
}
.common-heading{
    font-family: Arial, Helvetica, sans-serif;
}

/* ============ Image ====================== */
#container-banner{
    position: relative;
    text-align: center;
    color: white;
    background-size: cover;

}
#container-banner::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,1.25);

}

#container-banner img{
    opacity: 0.75;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;

}
.centered h1{
    font-size: 55px;
}
.centered .common-paragraph{
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -25px;
    font-size: 17px;
    line-height: 1.6;

}
/* ============ Donate Today ====================== */
#donateToday{
    padding: 70px; 
    text-align:center;
}
#donateToday h1{
    font-size: 40px;
}
.card-donate-today{
    margin-top: 15px;
    background-color: rgb(250, 250, 250); 
    width: 15%;
    margin-left: 30px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#inputFiled{
    margin:50px 82px  0px 181px;
}

#inputFiled input{
    margin:50px 82px  0px 181px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-size: 15px;
    color: rgb(236, 236, 236);
    margin-right: 230px;
}

#inputFiled button{
    border: none;
    color: aliceblue;
    background-color:rgb(255, 89, 89); 
    font-size: 20px;
    border-radius: 5px;
    padding: 15px;
    margin-right: 90px;

}

/* ============  Donate Plan Section ============== */
#donatePlan{
    padding: 70px; 
    text-align:center
}

#text h1{
    font-size: 40px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin-left: 20px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
.container {
    padding: 2px 16px;
    
}

/* Donate Plan Section End */


/* ============== Update Section ============== */
#updates{
    padding: 70px; 
    background-color:#fff; 
    text-align:center
}
#updates h1{
    font-size: 40px;
}

#formDiv {
    background-color: rgb(255, 244, 214);
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 70px;
}
#formDiv form{
    padding-bottom: 50px;
}
#formDiv form input{
    background-color:rgb(217, 217, 217); 
    padding:10px;
    border-radius: 5px 0px 0px 5px;
    border: 0px ;
}
#formDiv form label{
    color: aliceblue;
    background-color:rgb(255, 89, 89); 
    padding:10px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;

}


/* ==================== Footer Section ==================== */
#footer{
    background-color:#152238;
    padding-top:10px; 
    padding-bottom:20px; 
    text-align: center;
}
#footer h2{
    color:rgb(255, 89, 89);
    font-family: "Sofia", sans-serif;
}
#footer small{
    color:aliceblue;
}