/* Common */
.common-paragraph{
    color:rgb(121, 121, 121);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;

}
.common-heading{
    font-family: Arial, Helvetica, sans-serif;
}

/* ============ Image ====================== */
#container-banner{
    position: relative;
    text-align: center;
    color: white;
    background-size: cover;

}
#container-banner::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,1.25);

}

#container-banner img{
    opacity: 0.75;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;

}
.centered h1{
    font-size: 55px;
}
.centered .common-paragraph{
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -25px;
    font-size: 17px;
    line-height: 1.6;

}
/* ============ Donate Today ====================== */
#donateToday{
    padding: 70px; 
    text-align:center;
}
#donateToday h1{
    font-size: 40px;
}
.card-donate-today{
    margin-top: 15px;
    background-color: rgb(250, 250, 250); 
    width: 15%;
    margin-left: 30px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#inputFiled{
    margin:50px 82px  0px 181px;
}

#inputFiled input{
    margin:50px 82px  0px 181px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-size: 15px;
    color: rgb(236, 236, 236);
    margin-right: 230px;
}

#inputFiled button{
    border: none;
    color: aliceblue;
    background-color:rgb(255, 89, 89); 
    font-size: 20px;
    border-radius: 5px;
    padding: 15px;
    margin-right: 90px;

}
.specific{
    background-color: rgb(255, 238, 238); 
    border: 2px solid rgb(255, 89, 89);
}
.specific h4{
    font-size:25px;
    color:rgb(255, 89, 89);
}
.box-text{
    font-size:25px;
    color:rgb(121, 121, 121);
}

/* ============  Donate Plan Section ============== */
#donatePlan{
    padding: 70px; 
    text-align:center
}

#text h1{
    font-size: 40px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin-left: 20px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
.container {
    padding: 2px 16px;   
}
.donatePlanContainer{
    text-align:left; 
    padding: 10px; 
    margin-top: 50px;
}
.donatePlanContainer i{
    margin-top:20px; 
    font-size: 35px;
}

/* Donate Plan Section End */


/* ==============  IMPACT STYLE  ============== */

#impact {
    padding: 70px; 
    text-align:center
}

#impact h1 {
    font-size: 40px;
}

    /* Progress Bar */
    .wrapper {
        width: 400px;
        font-family: 'Roboto', sans-serif;
        margin:0 auto;
    }
     
    .skill {
        margin-bottom: 35px;
        position: relative;
        overflow-x:hidden;
    }
     
    .skill > p {
        font-size: 18px;
        font-weight: 700;
        color: #1a1716;
        margin: 0;
    }
     
    .skill:before {
        width: 100%;
        height: 10px;
        content: "";
        display: block;
        position: absolute;
        background: #959595;
        bottom: 0;
    }
     
    .skill-bar {
        width: 100%;
        height: 10px;
        display: block;
        position: relative;
    }

    .bg-color-1{
        background:#f4392f;
    }
    .bg-color-2{
        background:rgb(66, 139, 202); ;
    }
    .bg-color-3{
        background:rgb(91, 192, 222); ;
    }
    .bg-color-4{
        background:rgb(92, 184, 92); ;
    }
     
    .skill-bar span {
        position: absolute;
        border-top: 5px solid #f4392f;
        top: -30px;
        padding: 0;
        font-size: 18px;
        padding: 3px 0;
        font-weight: 500;
    }
     
    .skill-bar {
        position: relative;
    }
     
    .skill1 .skill-count1 {
        right: 0;
    }
     
    .skill1 {
        width: 95%;
    }
     
    .skill2 {
        width: 85%;
    }
     
    .skill2 .skill-count2 {
        right: 0;
    }
     
    .skill3{
       width: 90%;
    }
     
    .skill3 .skill-count3 {
        right: 0;
    }

    .skill4{
       width: 80%;
    }
     
    .skill4 .skill-count4 {
        right: 0;
    }
    /* Progress Bar */



/* ============== Update Section ============== */
#updates{
    padding: 70px; 
    background-color:#fff; 
    text-align:center
}
#updates h1{
    font-size: 40px;
}

#formDiv {
    background-color: rgb(255, 244, 214);
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 70px;
}
#formDiv form{
    padding-bottom: 50px;
}
#formDiv form input{
    background-color:rgb(217, 217, 217); 
    padding:10px;
    border-radius: 5px 0px 0px 5px;
    border: 0px ;
}
#formDiv form label{
    color: aliceblue;
    background-color:rgb(255, 89, 89); 
    padding:10px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;

}


/* ==================== Footer Section ==================== */
#footer{
    background-color:#152238;
    padding-top:10px; 
    padding-bottom:20px; 
    text-align: center;
}
#footer h2{
    color:rgb(255, 89, 89);
    font-family: "Sofia", sans-serif;
}
#footer small{
    color:aliceblue;
}